#sobreMim{
    margin-left: 25%;
    margin-right: 50%;
    font-family: Comic Sans MS;
    font-size: 20px;
    text-align: justify;
}
#h1Mim{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    padding-top: 10%;
    margin-left: 20%;
    font-size: 100px;
}
#imgpc{
    width: 400px;
    height: 400px;
    margin-left: 150%;
    margin-bottom: 50%;
}